### UniRel Reformat

This notebook reformats the results of UniRel so that they are easy for a human to grade

In [15]:
import pandas as pd
import ast

In [2]:
result_df = pd.read_csv("../../data/results/unirel/FAA_DataModel_20240530140416.csv")

In [6]:
result_df.head()

,c5,c119,c119_output
0,19750315005389A,TAILWHEEL COCKED RIGHT PRIOR TO TKOF. ...,[[]]
1,19750419011349A,TOW PLANE BECAME AIRBORNE THEN SETTLED.STUDENT...,[[]]
2,19751029037799A,"2ND ILS APCH,ACFT'S G/S INOP.LOM TUNED TO WRON...",[[]]
3,19751209037899A,PLT NOTED SOFT R BRAKE PEDAL DRG TAXI TO TKOF....,[[]]
4,19750818025579A,TAXI OFF HARD SFC DUE TFC R MAIN GR BROKE THRO...,[[]]

In [9]:
print(result_df['c119_output'].unique()[:10])

['[[]]' "[[('RQD', '/business/person/company', 'ALCOHOL')]]"
 "[[('IN', '/location/location/contains', 'FROM ENGINE'), ('IN', '/location/location/contains', 'ENGINE'), ('IN', '/location/location/contains', 'SEPARATED'), ('IN', '/location/location/contains', 'SEPARATED FROM ENGINE')]]"
 "[[('AIRCRAFT', '/location/location/contains', 'AIRCRAFT'), ('ICE ON AIRCRAFT', '/location/location/contains', 'ICE ON AIRCRAFT'), ('ICE ON AIRCRAFT', '/location/location/contains', 'AIRCRAFT'), ('AIRCRAFT', '/location/location/contains', 'ICE ON AIRCRAFT')]]"
 "[[('TEST FLIGHT AFTER REBUILDING', '/location/location/contains', 'AIRCRAFT')]]"
 "[[('LANDING', '/location/location/contains', 'BASE')]]"
 "[[('PLANE', '/location/location/contains', 'FUEL TANK'), ('PLANE', '/location/location/contains', 'TANK')]]"
 "[[('LANDING', '/location/location/contains', 'DUE TO FUEL'), ('LANDING', '/location/location/contains', 'LANDING'), ('LANDING', '/location/location/contains', 'FUEL')]]"
 "[[('LOCK PIN', '/business/person/company', 'ROLL')]]"
 "[[('FLIGHT', '/location/location/contains', 'BAGGAGE'), ('FLIGHT', '/location/location/contains', 'NOSE BAGGAGE')]]"]

In [19]:
ast.literal_eval(result_df['c119_output'].unique()[1])[0]

[('RQD', '/business/person/company', 'ALCOHOL')]

In [20]:
out_df = pd.DataFrame(columns = ['c5_id','c119_input','c119_output','head','relation','tail'])
for i in range(len(result_df)):
    output = ast.literal_eval(result_df['c119_output'].iat[i])[0]
    if len(output) == 0:
        out_df.loc[len(out_df)] = {'c5_id':result_df['c5'].iat[i],'c119_input':result_df['c119'].iat[i],'c119_output':result_df['c119_output'].iat[i],'head':None,'relation':None,'tail':None}
    else:
        for triple in output:
            out_df.loc[len(out_df)] = {'c5_id':result_df['c5'].iat[i],'c119_input':result_df['c119'].iat[i],'c119_output':result_df['c119_output'].iat[i],'head':triple[0],'relation':triple[1],'tail':triple[2]}

In [23]:
out_df.to_csv('../../data/results/unirel/unirel.csv', index=False)