### Double Entity Check

In the sentence, "The pilot flew the aircraft and the aircraft crashed.", will an NER or NEL tool return aircraft twice? In this notebook, we check if this is the case for each NER and NEL tool

In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('../../data/FAA_data/Maintenance_Text_data_nona.csv')

#### NER

**1. flair**

In [66]:
flair = pd.read_csv('../../data/results/flair/flair_ner.csv')

In [67]:
double_ids = []
for i in range(len(dataset)):
    c5_id = dataset['c5'].iat[i]
    counts = flair[flair['c5_id'] == c5_id]['entities'].value_counts()
    for icount, count in enumerate(counts):
        if count > 1:
            double_ids.append(c5_id)
double_ids = list(pd.unique(double_ids))

In [68]:
print(f"Found {len(double_ids)} Entries With Double Entities")

Found 13 Entries With Double Entities

In [80]:
flair[flair['c5_id'].isin(double_ids)].head()

,c5_id,c119_input,entities,labels_raw,labels,confidence
32,19800113000039A,DEPARTED IFR WITH KNOWN DEFECTIVE GYRO HORIZON...,IFR,"[{'value': 'PER', 'confidence': 0.981401741504...",PER,0.981402
33,19800113000039A,DEPARTED IFR WITH KNOWN DEFECTIVE GYRO HORIZON...,IFR,"[{'value': 'PER', 'confidence': 0.876336932182...",PER,0.876337
76,19820708037199I,"COWLING CAME OPEN IN FLIGHT, STRUCK AND LOOSEN...",COWLING,"[{'value': 'PER', 'confidence': 0.990690350532...",PER,0.990690
77,19820708037199I,"COWLING CAME OPEN IN FLIGHT, STRUCK AND LOOSEN...",COWLING,"[{'value': 'PER', 'confidence': 0.997699439525...",PER,0.997699
82,19830618040089I,ENGINE COWLING CAME LOOSE AFTER TAKEOFF. COWLI...,COWLING,"[{'value': 'PER', 'confidence': 0.539467930793...",PER,0.539468

In [79]:
for c5_id in double_ids:
    print(list(flair[flair['c5_id'] == c5_id]['c119_input'])[0])

DEPARTED IFR WITH KNOWN DEFECTIVE GYRO HORIZON. LOST CONTROL OF AIRPLANE DESCENDING IFR IN HOLDING PATTERN.
COWLING CAME OPEN IN FLIGHT, STRUCK AND LOOSENED OTHER SIDE. COWLING CAME OFF, CRACKED WINDSHIELD, REAR WINDOW.
ENGINE COWLING CAME LOOSE AFTER TAKEOFF. COWLING STRUCK WINDSHIELD. RETURNED. SUSPECT COWLING NOT PROPERLY SECURED.
TAXIED FOR TAKEOFF WITH TOWBAR ATTACHED. WARNED BY TOWER TOO LATE. TOWBAR HIT PROP. ADDED REMOVE TOWBAR TO CK LIST.
AILERON PROBLEM ON CLIMBOUT. LOST CONTROL TURNING BACK AND STALLED. AILERON PROBLEM KNOWN PRIOR TO FLIGHT.
NARRATIVE: MOONEY N253TM, A MOONEY 020M, DEPARTED BOZEMAN, MONTANA, GALLATIN FIELD, AND RETURNED FOR LANDING IMMEDI
NARRATIVE: 3-9-97 1300LCL. DURING CLIMB AFTER TAKE OFF FROM HECTOR MUNICIPAL AIRPORT, HECTOR, MN. BOTH ENGINES LOST
(-5)IFR FLIGHT, REXBURG, IDAHO TO GUNNISON, CO., PILOT REQUESTED DIVERSION TO IDAHO FALLS (IDA) AFTER HAVING SMOKE
NARRATIVE: MS. LUNKEN DEPARTED NASHUA, NH ENROUTE TO ALTOONA, PA. IN THE VICINITY OF WILKES-BARRE, PA SHE OBSERVED
(-23)PILOT DEPARTED MATHER FIELD, CALIFORNIA ENROUTE TO RANCHO MURIETA, CALIFORNIA. SHORTLY AFTER LEVEL OFF, THE EN
(-23) THE PILOT DEPARTED DANVILLE, IL ENROUTE TO CRYSTAL LAKE, IL IN CESSNA 182, N92848, ON AUGUST 23, 2004. THE EN
(-23) THE FLIGHT DEPARTED ADDISON, TEXAS ON MARCH 27, 2007 FOR A BUSINESS TRIP TO IDAHO FALLS, IDAHO UNDER 14 CFR P
(-23) PILOT DEPARTED HOLBROOK, AZ TO SHOW LOW, AZ WITH 6 GALLONS OF FUEL ON BOARD. HIS FLIGHT REQUIRED ABOUT 3 TO 3

**2. spacy**

In [29]:
spacy_sm = pd.read_csv('../../data/results/spacy_entityrecognizer/spacy_ner_sm.csv')

In [50]:
double_ids = []
for i in range(len(dataset)):
    c5_id = dataset['c5'].iat[i]
    counts = spacy_sm[spacy_sm['c5_unique_id'] == c5_id]['entities'].value_counts()
    for icount, count in enumerate(counts):
        if count > 1:
            double_ids.append(c5_id)
double_ids = list(pd.unique(double_ids))

In [51]:
print(f"Found {len(double_ids)} Entries With Double Entities")

Found 2 Entries With Double Entities

In [38]:
spacy_lg = pd.read_csv('../../data/results/spacy_entityrecognizer/spacy_ner_lg.csv')

In [52]:
double_ids = []
for i in range(len(dataset)):
    c5_id = dataset['c5'].iat[i]
    counts = spacy_lg[spacy_lg['c5_id'] == c5_id]['entities'].value_counts()
    for icount, count in enumerate(counts):
        if count > 1:
            double_ids.append(c5_id)
double_ids = list(pd.unique(double_ids))

In [53]:
print(f"Found {len(double_ids)} Entries With Double Entities")

Found 54 Entries With Double Entities

**3. Stanza**

In [40]:
stanza = pd.read_csv('../../data/results/stanza/stanza_ner.csv')

In [54]:
double_ids = []
for i in range(len(dataset)):
    c5_id = dataset['c5'].iat[i]
    counts = stanza[stanza['c5_unique_id'] == c5_id]['entities'].value_counts()
    for icount, count in enumerate(counts):
        if count > 1:
            double_ids.append(c5_id)
double_ids = list(pd.unique(double_ids))

In [55]:
print(f"Found {len(double_ids)} Entries With Double Entities")

Found 0 Entries With Double Entities

**4. NLTK**

In [43]:
nltk = pd.read_csv('../../data/results/nltk/nltk_ner_uppercased.csv')

In [56]:
double_ids = []
for i in range(len(dataset)):
    c5_id = dataset['c5'].iat[i]
    counts = nltk[nltk['c5_unique_id'] == c5_id]['entities'].value_counts()
    for icount, count in enumerate(counts):
        if count > 1:
            double_ids.append(c5_id)
double_ids = list(pd.unique(double_ids))

In [57]:
print(f"Found {len(double_ids)} Entries With Double Entities")

Found 12 Entries With Double Entities

#### NEL

**1. BLINK**

In [58]:
blink = pd.read_csv('../../data/results/blink/blink_results_new.csv')

In [60]:
double_ids = []
for i in range(len(dataset)):
    c5_id = dataset['c5'].iat[i]
    counts = blink[blink['c5_id'] == c5_id]['bi_pred_entity'].value_counts()
    for icount, count in enumerate(counts):
        if count > 1:
            double_ids.append(c5_id)
double_ids = list(pd.unique(double_ids))

In [61]:
print(f"Found {len(double_ids)} Entries With Double Entities")

Found 24 Entries With Double Entities

**2. spaCy EntityLinker**

In [63]:
spacy_el = pd.read_csv('../../data/results/spacy_entity_linker/spacy_entitylinker.csv')

In [64]:
double_ids = []
for i in range(len(dataset)):
    c5_id = dataset['c5'].iat[i]
    counts = spacy_el[spacy_el['c5_id'] == c5_id]['entities'].value_counts()
    for icount, count in enumerate(counts):
        if count > 1:
            double_ids.append(c5_id)
double_ids = list(pd.unique(double_ids))

In [65]:
print(f"Found {len(double_ids)} Entries With Double Entities")

Found 623 Entries With Double Entities

**3. GenRE**

**4. ReFinED**